<style>
   #shopify-section-{{ section.id }} * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  #shopify-section-{{ section.id }} {
      --top-pad-d9: {{ section.settings.p-top }}rem;
      --bottom-pad-d9: {{ section.settings.p-bottom }}rem;
      --left-pad-d9: {{ section.settings.p-left }}rem;
      --right-pad-d9: {{ section.settings.p-right }}rem;
      --head-size-d9: {{ section.settings.h-size }}px;
      --text-size-d9: {{ section.settings.t-size }}px;
      --head-weight-d9: {% if section.settings.font-w-d %}bold {% else %}light{% endif %};
      --bg-color-d9: {{ section.settings.bg-color }};
      --text-color-d9: {{ section.settings.text-color }};
      --second-color-d9: {{ section.settings.sec-color }};
  }
  #shopify-section-{{ section.id }} .main-af-bf-39-d9 {
      width: 100%;
      background: var(--bg-color-d9);
  }
  #shopify-section-{{ section.id }} .inner-af-bf-39-d9 {
      max-width: 1440px;
      padding-top: var(--top-pad-d9);
      padding-bottom: var(--bottom-pad-d9);
      padding-left: var(--left-pad-d9);
      padding-right: var(--right-pad-d9);
      margin: 0 auto;
  }
  #shopify-section-{{ section.id }} .row-af-bf-39-d9 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: {{ section.settings.gap-d }}px;
      position: relative;
  }
  #shopify-section-{{ section.id }} .col-af-bf-39-d9 {
      width: calc(50% - 55px);
  }
  #shopify-section-{{ section.id }} .img-col-39-d9 {
      position: relative;
      display: flex;
      justify-content: center;
  }
  #shopify-section-{{ section.id }} .img-col-39-d9 img {
      width: 100%;
      object-fit: cover;
      box-shadow: 0 4px 9px #00000040;
      border-radius: 20px;
  }
  #shopify-section-{{ section.id }} .svg-39-d9 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 100%;
  }
  #shopify-section-{{ section.id }} .svg-39-d9 svg {
      width: 90px;
  }
  #shopify-section-{{ section.id }} .svg-39-d9 span {
      font-size: calc(var(--text-size-d9) + 3px);
      line-height: 130%;
      font-weight: 400;
  }
  #shopify-section-{{ section.id }} .af-39-d9-img svg {
      transform: rotate(135deg);
  }
  #shopify-section-{{ section.id }} .af-39-d9-img svg path {
      fill: var(--second-color-d9) !important;
  }
  #shopify-section-{{ section.id }} .bf-39-d9-img svg {
      transform: rotate(-45deg);
  }
  #shopify-section-{{ section.id }} .af-39-d9-img span {
      transform: translateX(-22px);
      color: var(--second-color-d9);
  }
  #shopify-section-{{ section.id }} .bf-39-d9-img span {
      transform: translateX(22px);
  }
  #shopify-section-{{ section.id }} .slider-container {
      position: relative;
      overflow: hidden;
  }
  #shopify-section-{{ section.id }} .slider-39-d9 {
      display: flex;
      transition: transform 0.5s ease;
      width: 100%;
  }
  #shopify-section-{{ section.id }} .slide-39-d9 {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
  #shopify-section-{{ section.id }} .arrows-39-d9 {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-top: 30px;
  }
  #shopify-section-{{ section.id }} .arrows-39-d9 span {
      font-size: var(--text-size-d9);
      font-weight: 700;
  }
  #shopify-section-{{ section.id }} .arrows-39-d9 button {
      background: none;
      border: none;
      width: 60px;
      cursor: pointer;
      padding: 10px;
      color: var(--text-color-d9);
      display: flex;
  }
  #shopify-section-{{ section.id }} .arrows-39-d9 button svg,
  #shopify-section-{{ section.id }} .arrows-39-d9 button svg path {
      width: 100%;
      fill: #000000 !important;
      stroke: #000000;
      stroke-width: 3px;
  }
  #shopify-section-{{ section.id }} .arrows-39-d9 button:disabled svg path {
      opacity: 0.5;
      cursor: default;
  }
  #shopify-section-{{ section.id }} .img-col-39-d9 {
      position: absolute;
      opacity: 0;
  }
  #shopify-section-{{ section.id }} .img-col-39-d9.active-39-d9 {
      display: flex;
      opacity: 1;
      position: static !important;
  }
  #shopify-section-{{ section.id }} .afbf-img-d9 img {
      transition: all 0.5s;
      transform: rotate(0deg);
      opacity: 0;
  }
  #shopify-section-{{ section.id }} .img-col-39-d9.active-39-d9 .af-39-d9-img img {
      transform: rotate(-5deg);
      opacity: 1;
  }
  #shopify-section-{{ section.id }} .img-col-39-d9.active-39-d9 .bf-39-d9-img img {
      transform: rotate(5deg);
      opacity: 1;
  }
  #shopify-section-{{ section.id }} .slide-39-d9 * {
      user-select: none;
  }
  #shopify-section-{{ section.id }} .star-rating-39-d9 svg {
      width: 30px;
      height: 30px;
      margin: 2px;
  }
  #shopify-section-{{ section.id }} .content-col-39-d9 h2 {
      font-size: var(--head-size-d9);
      font-weight: var(--head-weight-d9);
      line-height: 130%;
      text-align: left;
      color: var(--text-color-d9);
  }
  #shopify-section-{{ section.id }} .content-col-39-d9 p {
      font-size: var(--text-size-d9);
      line-height: 150%;
      font-weight: 400;
      color: var(--text-color-d9);
  }
  #shopify-section-{{ section.id }} .afbf-img-d9 {
      aspect-ratio: 9.6/12;
  }
  #shopify-section-{{ section.id }} .afbf-img-d9 img {
      aspect-ratio: 9.6/12;
  }
    @media (min-width: 1050px) and (max-width: 1350px){
       #shopify-section-{{ section.id }} .svg-39-d9 {
          height: 50%;
      }
    }
  @media (max-width: 1050px) {

      #shopify-section-{{ section.id }} .svg-39-d9 {
          height: 70%;
      }

      #shopify-section-{{ section.id }} .row-af-bf-39-d9 {
          flex-direction: column;
          gap: 30px;
      }
      #shopify-section-{{ section.id }} .col-af-bf-39-d9 {
          width: 100%;
      }
      #shopify-section-{{ section.id }} .content-col-39-d9{
          display: flex;
          flex-direction: column-reverse;
      }
      #shopify-section-{{ section.id }} .arrows-39-d9{
          justify-content: center;
      }
  }
  @media (max-width: 768px){
       #shopify-section-{{ section.id }} {
          --top-pad-d9: {{ section.settings.p-top-m }}rem;
          --bottom-pad-d9: {{ section.settings.p-bottom-m }}rem;
          --left-pad-d9: {{ section.settings.p-left-m }}rem;
          --right-pad-d9: {{ section.settings.p-right-m }}rem;
          --head-size-d9: {{ section.settings.h-size-m }}px;
          --text-size-d9: {{ section.settings.t-size-m }}px;
          --head-weight-d9: {% if section.settings.font-w-m %}bold {% else %}light{% endif %};
      }
        #shopify-section-{{ section.id }} .svg-39-d9 svg {
          width: 50px;
      }
   #shopify-section-{{ section.id }} .svg-39-d9 {
     height: 150px;
   }
  }

  #shopify-section-{{ section.id }} .img-col-39-d9 img {
      -webkit-box-shadow: 0 4px 9px #00000040;
      -moz-box-shadow: 0 4px 9px #00000040;
      box-shadow: 0 4px 9px #00000040;
  }

  #shopify-section-{{ section.id }} .img-col-39-d9 img,
  #shopify-section-{{ section.id }} .afbf-img-d9 img {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
  }

  #shopify-section-{{ section.id }} .star-rating-39-d9 svg {
      -webkit-margin: 2px;
      -moz-margin: 2px;
      margin: 2px;
  }

  #shopify-section-{{ section.id }} .arrows-39-d9 button svg,
  #shopify-section-{{ section.id }} .arrows-39-d9 button svg path {
      -webkit-fill: #000000 !important;
      -moz-fill: #000000 !important;
      fill: #000000 !important;
  }

  #shopify-section-{{ section.id }} .arrows-39-d9 button svg path {
      -webkit-stroke: #000000;
      -moz-stroke: #000000;
      stroke: #000000;
      -webkit-stroke-width: 3px;
      -moz-stroke-width: 3px;
      stroke-width: 3px;
  }
</style>
<div class="main-af-bf-39-d9">
  <div class="inner-af-bf-39-d9">
    <div class="row-af-bf-39-d9">
      {% for block in section.blocks %}
        <div class="col-af-bf-39-d9 img-col-39-d9">
          <div class="af-39-d9-img afbf-img-d9">
            <div class="img-div-afbf-39-d9">
              <img src="{{ block.settings.bf-image |  image_url: width:1440  }}">
            </div>
            <div class="svg-39-d9">
              <span>{{ section.settings['af-text'] }}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="256"
                height="256"
                viewBox="0 0 256 256"
                xml:space="preserve"
              >
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                    transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <path
                        d="M 5.873 12.409 l 8.53 4.925 l 8.53 4.925 c 0.914 0.528 2.056 -0.132 2.056 -1.187 l 0 -6.207 c 13.935 1.705 24.766 13.603 24.766 27.991 l 0 12.12 c 0 18.8 14.876 34.192 33.475 35.023 c 0.859 0.038 1.583 -0.632 1.583 -1.491 v -3.871 c 0 -0.785 -0.608 -1.448 -1.391 -1.486 C 68.51 82.423 56.603 70.063 56.603 54.976 l 0 -12.12 c 0 -18.17 -13.894 -33.152 -31.615 -34.887 l 0 -6.595 c 0 -1.055 -1.142 -1.714 -2.056 -1.187 l -8.53 4.925 l -8.53 4.925 C 4.959 10.562 4.959 11.881 5.873 12.409 z"
                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                        transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"></path>
                </g>
              </svg>
            </div>
          </div>
          <div class="bf-39-d9-img afbf-img-d9">
            <div class="svg-39-d9">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                width="256"
                height="256"
                viewBox="0 0 256 256"
                xml:space="preserve"
              >
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                    transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <path
                        d="M 5.873 12.409 l 8.53 4.925 l 8.53 4.925 c 0.914 0.528 2.056 -0.132 2.056 -1.187 l 0 -6.207 c 13.935 1.705 24.766 13.603 24.766 27.991 l 0 12.12 c 0 18.8 14.876 34.192 33.475 35.023 c 0.859 0.038 1.583 -0.632 1.583 -1.491 v -3.871 c 0 -0.785 -0.608 -1.448 -1.391 -1.486 C 68.51 82.423 56.603 70.063 56.603 54.976 l 0 -12.12 c 0 -18.17 -13.894 -33.152 -31.615 -34.887 l 0 -6.595 c 0 -1.055 -1.142 -1.714 -2.056 -1.187 l -8.53 4.925 l -8.53 4.925 C 4.959 10.562 4.959 11.881 5.873 12.409 z"
                        style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                        transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"></path>
                </g>
              </svg>
              <span>{{ section.settings['bf-text'] }}</span>
            </div>
            <div class="img-div-afbf-39-d9">
              <img src="{{ block.settings.af-image |  image_url: width:1440  }}">
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="col-af-bf-39-d9 content-col-39-d9 slider-container">
        <div class="slider-39-d9">
          {% for block in section.blocks %}
            <div class="slide-39-d9">
              <h2>{{ block.settings['slide-head'] }}</h2>
              <div class="star-rating-39-d9">
                {% if block.settings['star-rate'] == 'one' %}
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>

                {% elsif block.settings['star-rate'] == 'two' %}
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                {% elsif block.settings['star-rate'] == 'three' %}
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                {% elsif block.settings['star-rate'] == 'four' %}
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                {% else %}
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                  <svg
                    width="31"
                    height="31"
                    viewBox="0 0 31 31"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path id="Vector"
                        d="M6.30318 30.75L8.76432 19.6551L0.581055 12.1958L11.3604 11.2143L15.582 0.75L19.8037 11.2122L30.5811 12.1937L22.3998 19.653L24.8609 30.7479L15.582 24.859L6.30318 30.75Z"
                        fill="#BD9A5B" />
                  </svg>
                {% endif %}
              </div>
              <div class="description 39-d9">
                {{ block.settings.description }}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="arrows-39-d9">
          <button class="prev-39-d9" style="transform: rotate(180deg);">
            <svg
              width="92"
              height="38"
              viewBox="0 0 92 38"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                  d="M72.472 0L71.063 1.409L87.303 17.649H0V19.643H87.3L71.06 35.883L72.469 37.293L91.115 18.646L72.472 0Z"
                  fill="black"></path>
            </svg>
          </button>

          <button class="next-39-d9">
            <svg
              width="92"
              height="38"
              viewBox="0 0 92 38"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                  d="M72.472 0L71.063 1.409L87.303 17.649H0V19.643H87.3L71.06 35.883L72.469 37.293L91.115 18.646L72.472 0Z"
                  fill="black"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    (function () {
        document.addEventListener('DOMContentLoaded', () => {
            const containerSelector = '.main-af-bf-39-d9';

            document.querySelectorAll(containerSelector).forEach(container => {
                const imgCols = container.querySelectorAll('.img-col-39-d9');
                const slides = container.querySelector('.content-col-39-d9 .slider-39-d9');
                const leftArrow = container.querySelector('.prev-39-d9');
                const rightArrow = container.querySelector('.next-39-d9');
                const slideIndex = container.querySelector('.slide-index-39-d9');

                let currentIndex = 0;
                let startX = 0;
                let currentTranslate = 0;
                let prevTranslate = 0;
                let isDragging = false;
                let animationID;

                function updateSlide(index) {
                    currentTranslate = index * -100;
                    prevTranslate = currentTranslate;
                    slides.style.transform = `translateX(${currentTranslate}%)`;
                    imgCols.forEach(col => col.classList.remove('active-39-d9'));
                    imgCols[index].classList.add('active-39-d9');
                    currentIndex = index;
                    updateArrows();
                    updateSlideIndex();
                }

                function updateArrows() {
                    leftArrow.disabled = currentIndex === 0;
                    rightArrow.disabled = currentIndex === imgCols.length - 1;
                }

                function updateSlideIndex() {
                    slideIndex.textContent = `${currentIndex + 1} / ${imgCols.length}`;
                }

                function startDrag(event) {
                    event.preventDefault();
                    startX = event.type.includes('mouse') ? event.clientX : event.touches[0].clientX;
                    isDragging = true;
                    animationID = requestAnimationFrame(animation);
                    slides.classList.add('grabbing');
                }

                function moveDrag(event) {
                    if (isDragging) {
                        const currentPosition = event.type.includes('mouse') ? event.clientX : event.touches[0].clientX;
                        const movedBy = currentPosition - startX;
                        currentTranslate = prevTranslate + (movedBy / container.clientWidth) * 100;
                        // Prevent moving the slide beyond the initial and final positions
                        if (currentTranslate > 0) {
                            currentTranslate = 0;
                        } else if (currentTranslate < -(pills.length - 1) * 100) {
                            currentTranslate = -(pills.length - 1) * 100;
                        }

                        event.preventDefault(); 
                    }
                }

                function endDrag() {
                    event.preventDefault();
                    cancelAnimationFrame(animationID);
                    isDragging = false;
                    slides.classList.remove('grabbing');
                    const movedBy = currentTranslate - prevTranslate;

                    // Convert the 5px threshold to percentage based on container width
                    const threshold = (0 / container.clientWidth) * 100;

                    if (movedBy < -threshold && currentIndex < imgCols.length - 1) {
                        currentIndex += 1;
                    } else if (movedBy > threshold && currentIndex > 0) {
                        currentIndex -= 1;
                    }
                    updateSlide(currentIndex);
                    
                }

                function animation() {
                    slides.style.transform = `translateX(${currentTranslate}%)`;
                    if (isDragging) requestAnimationFrame(animation);
                }

                leftArrow.addEventListener('click', () => {
                    if (currentIndex > 0) {
                        updateSlide(currentIndex - 1);
                    }
                });

                rightArrow.addEventListener('click', () => {
                    if (currentIndex < imgCols.length - 1) {
                        updateSlide(currentIndex + 1);
                    }
                });

                slides.addEventListener('mousedown', startDrag);
                slides.addEventListener('mousemove', moveDrag);
                slides.addEventListener('mouseup', endDrag);
                slides.addEventListener('mouseleave', endDrag);

                slides.addEventListener('touchstart', startDrag);
                slides.addEventListener('touchmove', moveDrag);
                slides.addEventListener('touchend', endDrag);

                updateSlide(currentIndex);
            });
        });
    })();
</script>

{% schema %}
{
    "name": "After Before Slider",
    "settings": [
        {
            "type": "text",
            "id": "af-text",
            "default": "To This",
            "label": "After Image Label"
        },
        {
            "type": "text",
            "id": "bf-text",
            "default": "From This",
            "label": "Before Image Label"
        },

        {
            "type": "header",
            "content":"Desktop Configurations"
        },
        {
            "type": "range",
            "id": "p-top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 3,
            "unit": "rem",
            "label": "Padding Top"
        },
        {
            "type": "range",
            "id": "p-bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 3,
            "unit": "rem",
            "label": "Padding Bottom"
        }, {
            "type": "range",
            "id": "p-right",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 1,
            "unit": "rem",
            "label": "Padding Left"
        }, {
            "type": "range",
            "id": "p-left",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 1,
            "unit": "rem",
            "label": "Padding Right"
        },
        {
            "type": "range",
            "id": "gap-d",
            "min": 0,
            "max": 200,
            "step": 5,
            "default": 100,
            "unit": "px",
            "label": "Gap"
        },
        {
            "type": "range",
            "id": "h-size",
            "min": 8,
            "max": 80,
            "step": 1,
            "default": 45,
            "unit": "px",
            "label": "Heading Font Size"
        },
        {
            "type": "range",
            "id": "t-size",
            "min": 8,
            "max": 40,
            "step": 1,
            "default": 18,
            "unit": "px",
            "label": "Text Font Size"
        },
        {
            "type": "checkbox",
            "id": "font-w-d",
            "label": "Bold Heading",
            "default": true
        },
        {
            "type": "header",
            "content":"Mobile Configurations"
        },
        {
            "type": "range",
            "id": "p-top-m",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 3,
            "unit": "rem",
            "label": "Padding Top Mobile"
        },
        {
            "type": "range",
            "id": "p-bottom-m",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 3,
            "unit": "rem",
            "label": "Padding Bottom Mobile"
        }, {
            "type": "range",
            "id": "p-right-m",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 1,
            "unit": "rem",
            "label": "Padding Left Mobile"
        }, {
            "type": "range",
            "id": "p-left-m",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 1,
            "unit": "rem",
            "label": "Padding Right Mobile"
        },
        {
            "type": "range",
            "id": "h-size-m",
            "min": 8,
            "max": 80,
            "step": 1,
            "default": 45,
            "unit": "px",
            "label": "Heading Font Size Mobile"
        },
        {
            "type": "range",
            "id": "t-size-m",
            "min": 8,
            "max": 40,
            "step": 1,
            "default": 18,
            "unit": "px",
            "label": "Text Font Size Mobile"
        },
        {
            "type": "checkbox",
            "id": "font-w-m",
            "label": "Bold Heading Mobile",
            "default": true
        },
        {
            "type": "header",
            "content": "Color Schemes"
        },
        {
            "type": "color_background",
            "id": "bg-color",
            "label": "Background Color",
            "default": "#f3f0ea"
        },
        {
            "type": "color",
            "id": "text-color",
            "label": "Text Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "sec-color",
            "label": "Text Color",
            "default": "#bd9a5b"
        }

        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Slide",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "af-image",
                        "label": "After Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "bf-image",
                        "label": "Before Image"
                    },
                    {
                        "type": "select",
                        "id": "star-rate",
                        "label": "Star Rating",
                        "default": "five",
                        "options": [
                            {
                                "value": "one",
                                "label": "One"
                            },
                            {
                                "value": "two",
                                "label": "Two"
                            },
                            {
                                "value": "three",
                                "label": "Three"
                            },{
                                "value": "four",
                                "label": "Four"
                            },
                            {
                                "value": "five",
                                "label": "Five"
                            }
                        ]
                    },
                    {
                        "type": "text",
                        "id": "slide-head",
                        "label": "Slide Heading"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "After Before Slider"
            }
        ]
}
{% endschema %}
