<style>
    .custom-blogs {
        margin: 20px 50px;
        display: flex;
        flex-wrap: wrap;
        padding:0px 10px;
      }
      .custom-blogs a{
        text-decoration:none;
      }
      .custom-blog {
        background-color: #f9f9f9;
        border-radius: 5px;
        width: auto;
        height:300px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display:flex;
        margin: 10px 20px;
        align-items:center;
        margin-bottom: 20px;
        cursor: pointer; 
        transition: box-shadow 0.3s ease;
      }
      .ab{
        width:400px;
        overflow:hidden;
      }
      .custom-blog:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      }
      .custom-blog h2 {
        color: #333;
        font-size: 24px;
        margin:0px 10px;
        margin-top:10px;
        font-weight:700;
        padding:0px 10px;
      }
      
      .custom-blog p {
        color: #666;
        font-size: 16px;
        padding:0px 10px;
        line-height: 1.5;
        margin:5px 10px 20px 10px;
      }
      
      .custom-blog img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
      }
      .heading{
        margin:10px 70px;
        font-weight:700;
    }
</style>

{% schema %}
{
    "settings": [
        {
            "type": "text",
            "id": "blog_title",
            "label": "Blog Title",
            "default": "Blog title"
          },
          {
            "type": "text",
            "id": "blog_content",
            "label": "Blog Content",
            "default": " Blog content Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator."
          },
          {
              "type": "image_picker",
              "id": "blog_image",
              "label": "Blog Image"
          }
    ],

    "presets": [
        {
          "name": "Blog Section",
          "category": "Blog",
          "settings": {
            "blog_title": "My Blog Title",
            "blog_content": "This is a sample blog content."
          }
        }
      ],

      "blocks": [
        {
          "type": "column",
          "name": "Blog",
          "settings": [
            {
              "type": "url",
              "id": "blog_url",
              "label": "Blog Link"
            },
            {
              "type": "text",
              "id": "blog_title",
              "label": "Blog Title",
              "default": "Blog title"
            },
            {
              "type": "text",
              "id": "blog_content",
              "label": "Blog Content"
            },
            {
              "type": "image_picker",
              "id": "blog_image",
              "label": "Blog Image"
            }
          ]
        }
      ]

}
{% endschema %}
<div class="custom-blogs">
    {% for block in section.blocks %}
        <a href="{{ block.settings.blog_url }}">
            <div class="custom-blog">
                <div class="ab">
                    <h2>{{ block.settings.blog_title }}</h2>
                    <p>{{ block.settings.blog_content}}</p>
                </div>
                <img src="{{ block.settings.blog_image | img_url: 'medium' }}" alt="{{ block.settings.blog_title }}" width="200px" height="200px">
            </div>
        </a>
    {% endfor %}
</div>