<style>
    .custom-blogs {
        margin: 20px 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;

      }
      .custom-blogs a{
        text-decoration:none;
      }
      .custom-blog {
        background-color: #f9f9f9;
        border-radius: 5px;
        width: auto;
        padding:0px 10px;
        height:300px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display:flex;
        margin: 10px 0px;
        align-items:center;
        margin-bottom: 20px;
        cursor: pointer; 
        transition: box-shadow 0.3s ease;
      }
      .ab{
        width:400px;
        overflow:hidden;
      }
      .custom-blog:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      }
      .custom-blog h2 {
        color: #333;
        font-size: 24px;
        margin:0px 10px;
        margin-top:10px;
        font-weight:700;
        padding:0px 10px;
      }
      
      .custom-blog p {
        color: #666;
        font-size: 16px;
        padding:0px 10px;
        line-height: 1.5;
        margin:5px 10px 20px 10px;
      }
      
      .custom-blog img {
        max-width: 100%;
        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
      }
      .heading{
        margin:0px 70px;
        justify-content:space-between;
        font-weight:700;
        display:flex;
        align-items:center;
    }
    .post-date{
        font-weight:700;

    }
     
</style>

<div class="heading">
    <h1 class="">Blogs</h1>
    <a href="{{ section.settings.blog_link }}">View all</a>
  </div>
<div class="custom-blogs">
  {% for block in section.blocks %}
    {% if block.settings.selected_blog_post %}
        {% assign selectedArticle = block.settings.selected_blog_post %}
        
        <a href="{{ selectedArticle.url }}">
            <div class="custom-blog">
                <div class="ab">
                    <h2>{{ selectedArticle.title }}</h2>
                    <p>{{ selectedArticle.content }}</p>
                    {% if block.settings['published-date'] %}
                        <p class="post-date">{{ selectedArticle.published_at }}</p>
                      {% endif %}
                </div>
                <img
                    src="{{ selectedArticle.image | img_url: 'medium' }}"
                    alt="{{ selectedArticle.title }}"
                    width="200px"
                    height="200px"
                >
                </div>
            </a>
    {% endif %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "Custom Blog-post",
  "settings": [
    {
      "type": "text",
      "id": "main-blog-title",
      "label": "Main Title",
      "default": "Blogs"
    },
    {
      "type": "url",
      "id": "blog_link",
      "label": "Blog page link"
    },
    {
      "type": "text",
      "id": "min-title",
      "label": "Posts Title"
    },
    {
      "type": "article",
      "id": "selected_main_blog_post",
      "label": "Select a Blog Post"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Select Blog",
      "settings": [
        {
          "type": "article",
          "id": "selected_blog_post",
          "label": "Select a Blog Post"
        },
        {
          "type": "checkbox",
          "id": "published-date",
          "label": "Add Date",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Blog-post d10"
    }
  ]
}
{% endschema %}
