{% schema %}
{
  "name": "Custom Renewal",
  "settings": [
    {
      "type": "text",
      "id": "block_title_0",
      "label": "Title 1",
      "default": "Embrace Renewal with Every Sip"
    },
    {
      "type": "text",
      "id": "block_title_main_0",
      "label": "Title 2",
      "default": "What Makes Daily Daisy™ Unique?"
    },
    {
      "type": "image_picker",
      "id": "side_image",
      "label": "Side Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "side_image_mobile",
      "label": "Side Image Mobile"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Select Product",
      "settings": [
        {
          "type": "text",
          "id": "block_title_1",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "block_paragraph_1",
          "label": "Paragraph",
          "default": "Paragraph"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Renewal"
    }
  ]
}
{% endschema %}

<style>
  .dev-11-container-1 {
    padding: 50px 20px;
    max-width: 1138px;
    margin: 20px auto;
  }
  .dev-11-container {
    width: 70%;
  }
  .dev-11-container-1 .dev-11-h-11 {
    color: #3d8f61;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Inter', sans-serif;

    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .dev-11-container-1 .dev-11-h-12 {
    color: #023811;

    leading-trim: both;

    text-edge: cap;
    font-family: 'Inter', sans-serif;

    font-style: normal;
    font-weight: 800;
    line-height: 120%;
  }
  .dev-11-block {
    display: flex;
    align-items: center;

    padding: 30px 0px;
    align-self: stretch;
  }

  .dev-11-img-box {
    display: flex;
    width: 130px;
    height: 130px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 80px;
    background: #f9f3eb;
  }
  .dev-11-block h2 {
    color: #023811;
    margin: 0px;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  .dev-11-block p {
    color: #023811;
    margin: 0px;
    leading-trim: both;

    text-edge: cap;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .dev-11-full-height {
    height: 100%; /* Adjust as needed */
    background-color: #f5f5f5; /* Change to desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .dev-11-full-height h2 {
    font-size: 36px;
    color: #333;
  }
  .dev-11-section {
    display: flex;
    width: 100%;
    align-content: center;
  }
  .dev-11-side-image-class {
    display: none;
    width: 30%;
    padding: 30px 10px;
    margin: 0px auto;
    overflow: hidden;
  }
  .dev-11-side-image-class img {
    border-radius: 20px;
    margin: 0px auto;
    width: 100%; /* Set the width to 100% to make the image responsive */
    height: 100%;
  }

  @media (max-width: 576px) {
    .dev-11-container-1 h1 {
      font-size: 14px;
    }
    .dev-11-container-1 h2 {
      font-size: 30px;
      margin: 20px 0px;
      text-align: center;
    }

    .dev-11-content {
      text-align: center;
    }
    .dev-11-content p {
      font-size: 21px;
    }
    .dev-11-content h2 {
      font-size: 28px;
    }
    .dev-11-section {
      display: block;
      width: 100%;
    }
    .dev-11-container {
      width: 100%;
    }
    .dev-11-container-1 {
      padding: 0px 20px;
    }
    .dev-11-block {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .dev-11-block img {
      margin-bottom: 10px;
    }
  }

  @media (min-width: 960px) {
    .dev-11-side-image-class-0 {
      display: none;
    }
    .dev-11-side-image-class {
      display: flex;
    }
    .dev-11-block {
      gap: 20px;
      border-bottom: 1px solid rgba(216, 201, 179, 0.3);
    }
    .dev-11-side-image-class img {
      display: flex;
      margin: 0px auto;
    }
  }
  @media (max-width: 960px) {
    .dev-11-block {
      border-bottom: 1px solid rgba(216, 201, 179, 0.3);
      gap: 20px;
    }
    .dev-11-side-image-class-0 img {
      height: 440px;
      margin: auto;
      max-width: 410px;
      padding-bottom: 30px;
    }
    .dev-11-side-image-class-0 {
      display: flex;
      width: 100%;
    }
    .dev-11-section {
      flex-direction: column;
      flex-flow: column-reverse;
      width: 100%;
    }
    .dev-11-dev-11-container-1 .dev-11-h-11,
    .dev-11-h-11 {
      text-align: center;
      font-size: 16px;
    }
    .dev-11-h-12 {
      margin: 15px 0px 35px 0px;
      font-size: 35px;
      text-align: center;
    }
    .dev-11-container {
      width: 100%;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1100px) {
    .dev-11-block {
      gap: 30px;
      border-bottom: 1px solid rgba(216, 201, 179, 0.3);
    }
    .dev-11-h-12 {
      margin: 47px 0px;
      font-size: 50px;
    }
    .dev-11-h-11 {
      font-size: 16px;
    }
    .dev-11-side-image-class-0 {
      display: none;
    }
    .dev-11-section {
      display: flex;
      width: 100%;
      gap: 47px 61px;
    }
    .dev-11-container-1 {
      padding: 150px 0px;
    }
    .dev-11-container {
      width: 70%;
    }
    .dev-11-side-image-class img {
      max-width: 336px;
      height: 770px;
    }
  }
</style>

<div class="dev-11-container-1">
  <div class="dev-11-side-image-class-0">
    <img
      src="{{ section.settings.side_image_mobile | img_url: 'large'  }}"
      alt="Description of the image"
      width="100%"
      height="100%"
    >
  </div>
  <h1 class="dev-11-h-11">{{ section.settings.block_title_0 }}</h1>
  <h2 class="dev-11-h-12">{{ section.settings.block_title_main_0 }}</h2>

  <div class="dev-11-section">
    <div class="dev-11-container">
      {% for block in section.blocks %}
        <div class="dev-11-block">
          <div class="dev-11-img-box">
            <img
              src="{{ block.settings.image | img_url: 'large' }}"
              alt="{{ block.settings.block_title_1 }}"
              width="82px"
              height="70px"
            >
          </div>
          <div class="dev-11-content">
            {% if block.settings.block_title_1 %}
              <h2>{{ block.settings.block_title_1 }}</h2>
            {% endif %}
            {% if block.settings.block_paragraph_1 %}
              <p>{{ block.settings.block_paragraph_1 }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="dev-11-side-image-class">
      <img
        src="{{ section.settings.side_image | img_url: 'large'  }}"
        alt="Description of the image"
        width="100%"
        height="100%"
      >
    </div>
  </div>
</div>
