

{% schema %}
{
  "name": "Custom Blog",
  "settings": [
    {
      "type": "text",
      "id": "blog_title",
      "label": "Blog Title",
      "default": "Blog title"
    },
    {
      "type": "textarea",
      "id": "blog_content",
      "label": "Blog Content",
      "default": " Blog content Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator."
    },
    {
        "type": "image_picker",
        "id": "blog_image",
        "label": "Blog Image"
    }
  ],
  "presets": [
    {
      "name": "Custom Blog",
      "category": "Blog",
      "settings": {
        "blog_title": "My Blog Title",
        "blog_content": "This is a sample blog content."
      }
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Blog",
      "settings": [
        {
          "type": "text",
          "id": "blog_title",
          "label": "Blog Title",
          "default": "Blog title"
        },
        {
          "type": "textarea",
          "id": "blog_content",
          "label": "Blog Content",
          "default": " Blog content Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator."
        },
        {
          "type": "image_picker",
          "id": "blog_image",
          "label": "Blog Image"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
    .custom-blogs {
        margin: 20px 50px;
        display: flex;
        flex-wrap: wrap;
      }
      
      .custom-blog {
        background-color: #f9f9f9;
        border-radius: 5px;
        width: 300px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
        margin: 10px 20px;
        margin-bottom: 20px;
        cursor: pointer; 
        transition: box-shadow 0.3s ease;
      }
      .custom-blog:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      }
      .custom-blog h2 {
        color: #333;
        font-size: 24px;
        margin:0px 10px;
        margin-top:10px;
        font-weight:700;
        padding:0px 10px;
      }
      
      .custom-blog p {
        color: #666;
        font-size: 16px;
        padding:0px 10px;
        line-height: 1.5;
        margin:5px 10px 20px 10px;
      }
      
      .custom-blog img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
      }
      .heading{
        margin:10px 70px;
        font-weight:700;
    }
</style>


<h1 class='heading'>
    Blogs
</h1>
{% assign metaobject = product.metafields.custom.speces_rows.value%}
<h1>
  
</h1>
{% for i in metaobject %}
  {{i.label.value}}
{% endfor %}

  {% for i in metaobject %}
  <br>
  {{i.label.value}}
  <br>
  {{i.value.value}}
  
  <br>
  {% for j in i.spece.value %}
  {{j}}
  <br>
  {% endfor%}
 
  <br>
  {{product.metafields.custom.speces_rows.value.lable.value}}
  {% endfor%}
<div class="custom-blogs">
  
    
    {%- for block in section.blocks -%}
        <div class="custom-blog">
          {{ block.settings.blog_image }} 
            {% if block.settings.blog_image %}
                <img src="{{ block.settings.blog_image | img_url: 'medium' }}" alt="{{ block.settings.blog_title }}" width="100%" height="100%">
            {% endif %}
            <h2>{{ block.settings.blog_title }}</h2>
            <p>{{ block.settings.blog_content }}</p>
           
        </div>
    {% endfor %}
</div>
