<style>
 #shopify-section-{{ section.id }} .custom-reviews-m {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 550px;
    gap: 25px;
  }
 #shopify-section-{{ section.id }} .custom-reviews-m .top-reviews-m, .bottom-reviews-m {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
  }
 #shopify-section-{{ section.id }} .hero-9-button-m {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 16px 24px;
    border-radius: 5px;
    font-weight: bold;
    max-width: 300px;
    text-align: center;
  }
 #shopify-section-{{ section.id }} .custom-reviews-m .top-reviews-m {
    animation: ticker 20s linear infinite;
    align-self: flex-start;
    width: 100%;
  }
 #shopify-section-{{ section.id }} .custom-reviews-m .bottom-reviews-m {
    animation: reversticker 20s linear infinite;
    align-self: flex-end;
    width: 100%;
  }
  
  @keyframes ticker {
    0% { transform: translateY(0); }
    50% { transform: translateY(-50%); }
  }
  @keyframes reversticker {
    0% { transform: translateY(0); }
    50% { transform: translateY(50%); }
  }
 #shopify-section-{{ section.id }} .custom-reviews-m .bottom-reviews-m .review-m {
    direction: ltr;
  }
 #shopify-section-{{ section.id }} .custom-reviews-m .review-m {
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 #shopify-section-{{ section.id }} .custom-image-m {
    width: 100%;
  }
 #shopify-section-{{ section.id }} .custom-main-otherdata-m {
    width: {{ section.settings.otherdata_width }};
  }
 #shopify-section-{{ section.id }} .custom-main-slider-data-m {
    width: {{ section.settings.sliderdata_width }};
  }
 #shopify-section-{{ section.id }} .custom-data-flx-m {
    display: flex;
    flex-direction: {{ section.settings.position }};
    align-items: center;
    gap: 35px; /* Add gap here */
  }
 #shopify-section-{{ section.id }} .custom-main-data-m {
   padding: 0, 0 {{ section.settings.padding_bottom }}px;
   margin-top: {{ section.settings.padding_top }}px;
   margin-bottom: {{ section.settings.padding_sides }}px;
   background: {{ section.settings.background_color }};
  }
 #shopify-section-{{ section.id }} .custom-box-data-m p {
    margin: 0px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: white;
  }
 #shopify-section-{{ section.id }} .custom-box-data-m h3 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #ff4a3f;
    margin: 0px;
  }
 #shopify-section-{{ section.id }} .custom-box-data-m {
    background: #202020;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
 #shopify-section-{{ section.id }} .heading-style-h1-custom-m {
    font-size: 64px;
    line-height: 70px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 0px;
  }
 #shopify-section-{{ section.id }} .custom-header-2-m {
    font-weight: 700;
    color: {{ section.settings.heading_color }}; font-size: {{ section.settings.heading_font_size }}px; line-height: {{ section.settings.heading_line_height }};
  }
 #shopify-section-{{ section.id }} .custom-para-large-m {
    font-weight: 300;
    padding-top: 15px;
    color: {{ section.settings.text_color }}; font-size: {{ section.settings.text_font_size }}px; line-height: {{ section.settings.text_line_height }};
  }
 #shopify-section-{{ section.id }} .hero-9-button-m {
    font-size: {{ section.settings.button_font_size }}px; padding: {{ section.settings.button_padding }}px calc({{ section.settings.button_padding }}px * 2); margin-top: {{ section.settings.button_margin_top }}px; border-radius: {{ section.settings.button_border_radius }}px; border: {{ section.settings.button_border_thickness }}px solid {{ section.settings.button_border_color }}; background-color: {{ section.settings.button_bg_color }}; color: {{ section.settings.button_text_color }};
  }
  @media only screen and (max-width: 1200px) {
  #shopify-section-{{ section.id }} .custom-box-data-m p {
      font-size: 16px;
      line-height: 22px;
    }
  #shopify-section-{{ section.id }} .custom-reviews-m .top-reviews-m {
      animation: ticker 20s linear infinite;
      align-self: flex-start;
      width: 100%;
    }
   #shopify-section-{{ section.id }} .custom-reviews-m .bottom-reviews-m {
      animation: reversticker 20s linear infinite;
      align-self: flex-end;
      width: 100%;
    }
  }
  @media only screen and (max-width: 767px) {
   #shopify-section-{{ section.id }} .custom-data-flx-m {
      flex-direction: column;
      gap: 15px; /* Adjust gap for smaller screens */
    }
   #shopify-section-{{ section.id }} .custom-main-otherdata-m {
      width: 100%;
    }
   #shopify-section-{{ section.id }} .custom-main-slider-data-m {
      width: 100%;
    }
   #shopify-section-{{ section.id }} .bottom-reviews-m {
      display: none !important;
    }
   #shopify-section-{{ section.id }} .top-reviews-m {
      width: 100% !important;
    }
   #shopify-section-{{ section.id }} .custom-image-m {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
   #shopify-section-{{ section.id }} .custom-box-data-m {
      padding: 35px;
    }
   #shopify-section-{{ section.id }} .custom-reviews-m {
      height: 600px;
    }
   #shopify-section-{{ section.id }} .heading-style-h1-custom-m {
      text-align: left;
    }
   #shopify-section-{{ section.id }} .custom-para-large-m {
      padding-bottom: 35px;
    }
   #shopify-section-{{ section.id }} .custom-main-otherdata-m {
      order: 2; /* Change order to push it to the bottom */
    }
   #shopify-section-{{ section.id }} .custom-main-slider-data-m {
      order: 1; /* Change order to push it to the top */
    }
   #shopify-section-{{ section.id }} .hero-9-button-m {
      align-self: flex-start; /* Align button to the left */
      margin-top: 20px; /* Adjust margin top as needed */
      margin-bottom: 20px; /* Adjust margin bottom as needed */
    }
  }
</style>


<div class="custom-main-data-m">
  <div class="page-width">
    <div class="custom-data-flx-m">
        <div class="custom-main-otherdata-m">
          <h2 class="custom-header-2-m">
            {{ section.settings.heading_text }}
          </h2>
          <p class="custom-para-large-m">
            {{ section.settings.text_content }}
          </p>
          <a class="hero-9-button-m" href="{{ section.settings.button_url }}">
            {{ section.settings.button_text }}
          </a>
        </div>
        <div class="custom-main-slider-data-m">
          <div class="custom-reviews-m">
            <div class="top-reviews-m">
              {% for block in section.blocks %}
                  {% if block.type == 'Left-Box-image' %}
              <div class="review-m" style="border-radius: {{ block.settings.border_radius }};">
                 <img src="{{ block.settings.image_data | img_url: '600x' }}" class="custom-image-m" style="width: {{ block.settings.image_width }}; height: {{ block.settings.image_height }}; object-fit: {{ block.settings.image_fit }};">
              </div>
                {% endif %}
           {% endfor %}
                {% for block in section.blocks %}
                  {% if block.type == 'Left-Box-image' %}
              <div class="review-m" style="border-radius: {{ block.settings.border_radius }};">
                 <img src="{{ block.settings.image_data | img_url: '600x' }}" class="custom-image-m" style="width: {{ block.settings.image_width }}; height: {{ block.settings.image_height }}; object-fit: {{ block.settings.image_fit }};">
              </div>
                {% endif %}
           {% endfor %}
              
            </div>

            
            <div class="bottom-reviews-m">
              {% for block in section.blocks %}
                {% if block.type == 'Right-Box-image' %}
                  <div class="review-m" style="border-radius: {{ block.settings.border_radius }};">
                    <img src="{{ block.settings.image_data | img_url: '600x' }}" class="custom-image-m" style="width: {{ block.settings.image_width }}; height: {{ block.settings.image_height }}; object-fit: {{ block.settings.image_fit }};">
                  </div>
                 {% endif %}
              {% endfor %}
              {% for block in section.blocks %}
                {% if block.type == 'Right-Box-image' %}
                  <div class="review-m" style="border-radius: {{ block.settings.border_radius }};">
                    <img src="{{ block.settings.image_data | img_url: '600x' }}" class="custom-image-m" style="width: {{ block.settings.image_width }}; height: {{ block.settings.image_height }}; object-fit: {{ block.settings.image_fit }};">
                  </div>
                 {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
 </div>
</div>

{% schema %}
{
  "name": "Hero 9",
  "settings": [
    {
      "type": "select",
      "id": "position",
      "label": "Change Image Position",
      "options": [
        {
          "value": "row",
          "label": "Left"
        },
        {
          "value": "row-reverse",
          "label": "Right"
        }
      ],
      "default": "row"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "Don’t just take our word of it"
    },
    {
      "type": "text",
      "id": "text_content",
      "label": "Text Content",
      "default": "Read what our clients have to say"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "Heading Font Size",
      "default": 48,
      "min": 24,
      "max": 100,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "heading_line_height",
      "label": "Heading Line Height",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "default": 1.2,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "text_font_size",
      "label": "Text Font Size",
      "default": 16,
      "min": 12,
      "max": 24,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "text_line_height",
      "label": "Text Line Height",
      "min": 1,
      "max": 2,
      "step": 0.1,
      "default": 1.2,
      "unit": "%"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "range",
      "id": "button_font_size",
      "label": "Button Font Size",
      "min": 12,
      "max": 48,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "button_padding",
      "label": "Button Padding",
      "min": 0,
      "max": 50,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "button_margin_top",
      "label": "Button Margin Top",
      "min": 0,
      "max": 50,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "label": "Button Border Radius",
      "min": 0,
      "max": 50,
      "default": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "button_border_thickness",
      "label": "Button Border Thickness",
      "min": 0,
      "max": 10,
      "default": 1,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "otherdata_width",
      "label": "Other Data Width",
      "default": "30%"
    },
    {
      "type": "text",
      "id": "sliderdata_width",
      "label": "Slider Data Width",
      "default": "70%"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "Button Border Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 0,
      "min": 0,
      "max": 100,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_sides",
      "label": "Padding Sides",
      "default": 0,
      "min": 0,
      "max": 100,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "unit": "px"
    }
  ],
  "blocks": [
     {
       "name": "Left Box Image",
       "type": "Left-Box-image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image_data",
           "label": "Image"
         },
         {
           "type": "text",
           "id": "image_width",
           "label": "Image Width",
           "default": "100%"
         },
         {
           "type": "text",
           "id": "image_height",
           "label": "Image Height",
           "default": "auto"
         },
         {
           "type": "select",
           "id": "image_fit",
           "label": "Image Fit",
           "options": [
             {
               "value": "cover",
               "label": "Cover"
             },
             {
               "value": "contain",
               "label": "Contain"
             }
           ],
           "default": "cover"
         },
         {
           "type": "text",
           "id": "border_radius",
           "label": "Border Radius",
           "default": "20px"
         }
       ]
     },
     {
       "name": "Right Box Image",
       "type": "Right-Box-image",
       "settings": [
         {
           "type": "image_picker",
           "id": "image_data",
           "label": "Image"
         },
         {
           "type": "text",
           "id": "image_width",
           "label": "Image Width",
           "default": "100%"
         },
         {
           "type": "text",
           "id": "image_height",
           "label": "Image Height",
           "default": "auto"
         },
         {
           "type": "select",
           "id": "image_fit",
           "label": "Image Fit",
           "options": [
             {
               "value": "cover",
               "label": "Cover"
             },
             {
               "value": "contain",
               "label": "Contain"
             }
           ],
           "default": "cover"
         },
         {
           "type": "text",
           "id": "border_radius",
           "label": "Border Radius",
           "default": "20px"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Hero 9",
      "category": "Custom"
    }
  ]
}
{% endschema %}