{% schema %}
{
  "name": "Multi-Blocks",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Featured Products"
    }
  ],
  "blocks": [
    {
      "type": "multi_block",
      "name": "Multi-block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "text_title",
          "label": "Text Content",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        },
        {
          "type": "text",
          "id": "btn_text_content",
          "label": "Button Text",
          "default": "EXPLORE COLLECTION"
        },
        {
          "type": "url",
          "id": "btn_text_url",
          "label": "Button URL"
        },
        {
          "type": "checkbox",
          "id": "checked",
          "label": "Swap the Position",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi Block Section"
    }
  ]
}
{% endschema %}

<style>
        .multi-block-section {
          padding: 40px 0;
          background-color: #f9f9f9;
        }

        .container-{{ section.id }} {
          max-width: 100%;
          margin: 0 auto;
          padding: 0 ;
        }

        .multi-block {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 40px;
          height:722px;
          background-color: #fff;
          overflow:hidden;

          overflow: hidden;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        }
        /* Image Div */
        .multi-block .image-mb img {
          max-width: 100%;
          object-fit: cover;

          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }

        .multi-block .content-{{ section.id }} {
          flex: 1;
          padding: 40px 20px;
          width:auto;
          height:100%;
          display: flex;
        flex-direction: column;
        justify-content: center;
        }

        .multi-block.image-left .content-{{ section.id }} {
          order: 2;
        }

        .multi-block.image-right .content-{{ section.id }} {
          order: 1;
        }


        .button-style-{{ section.id }}{
              display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      max-width: 285px;
      margin: 0;
      margin-top: 16px;
      font-size: 14px;
      color: #121212;
      line-height: 100%;
      text-align: center;
      text-transform: unset;
      text-decoration: none;
      padding: 10px 40px;
      border-radius: 50px;
      transition: all 0.25s ease 0s;
      position: relative;
      font-weight: 700;
      z-index: 2;
                  margin-left: 0px !important;
          margin-right: 0px !important;
                  margin-top: 16px;
          max-width: 310px;
          padding: 10px 40px;
          font-size: 14px;
              background-color: rgba(0, 0, 0, 0);
      border: 1px solid #000000;
      }


        .main-title-{{ section.id }}{
          margin:0;
          color: #000;

    font-family: Montserrat;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70.2px; /* 130% */

        }

       /* Responsive Styles */
      @media screen and (max-width: 768px) {
        .multi-block img {
          max-width: 100%;

        }

        .multi-block .content-{{ section.id }} {
          padding: 15px;
        }

      }
  @media screen and (min-width: 1024px) {
    .multi-block .image-mb {
          max-width: 615px;
          height:100%;

        }
  }
      @media screen and (max-width: 1024px) {
         .main-title-{{ section.id }}{
           margin: 0;
    font-size: 24px;
    color: #000000;
    line-height: 130%;
    text-transform: unset;
         }
        .multi-block img {
          max-width: 100%;

        }
        .multi-block .image-mb {
          width: 100%;
          height: 230px;

        }
        .multi-block {
          height:auto;
        }
        .multi-block .content-{{ section.id }} {
          padding:20px;
          width:100%;
        }
        .multi-block:hover img {
          transform: translateY(-10px);
        }

        h2 {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }


        .image-left {
          flex-direction: row-reverse;
        }
</style>

<section class="multi-block-section">
  <div class="container-{{ section.id }}">
    {% for block in section.blocks %}
      <!-- Check content_position setting to determine the content position -->
      <div class="multi-block {% if block.settings.checked %}image-left{% endif %}">
        <div class="image-mb">
          {% if block.settings.image %}
            <img
              src="{{ block.settings.image | image_url }}"
              alt="{{ block.settings.image }}"
              width="100%"
              height="100%"
            >
          {% else %}
            <div
              class="image-with-text__media image-with-text__media--small gradient color-background-2 global-media-settings image-with-text__media--placeholder placeholder"
              style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;"
            >
              <svg class="placeholder-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 525.5 525.5">
                <path d="M324.5 212.7H203c-1.6 0-2.8 1.3-2.8 2.8V308c0 1.6 1.3 2.8 2.8 2.8h121.6c1.6 0 2.8-1.3 2.8-2.8v-92.5c0-1.6-1.3-2.8-2.9-2.8zm1.1 95.3c0 .6-.5 1.1-1.1 1.1H203c-.6 0-1.1-.5-1.1-1.1v-92.5c0-.6.5-1.1 1.1-1.1h121.6c.6 0 1.1.5 1.1 1.1V308z"></path><path d="M210.4 299.5H240v.1s.1 0 .2-.1h75.2v-76.2h-105v76.2zm1.8-7.2l20-20c1.6-1.6 3.8-2.5 6.1-2.5s4.5.9 6.1 2.5l1.5 1.5 16.8 16.8c-12.9 3.3-20.7 6.3-22.8 7.2h-27.7v-5.5zm101.5-10.1c-20.1 1.7-36.7 4.8-49.1 7.9l-16.9-16.9 26.3-26.3c1.6-1.6 3.8-2.5 6.1-2.5s4.5.9 6.1 2.5l27.5 27.5v7.8zm-68.9 15.5c9.7-3.5 33.9-10.9 68.9-13.8v13.8h-68.9zm68.9-72.7v46.8l-26.2-26.2c-1.9-1.9-4.5-3-7.3-3s-5.4 1.1-7.3 3l-26.3 26.3-.9-.9c-1.9-1.9-4.5-3-7.3-3s-5.4 1.1-7.3 3l-18.8 18.8V225h101.4z"></path><path d="M232.8 254c4.6 0 8.3-3.7 8.3-8.3s-3.7-8.3-8.3-8.3-8.3 3.7-8.3 8.3 3.7 8.3 8.3 8.3zm0-14.9c3.6 0 6.6 2.9 6.6 6.6s-2.9 6.6-6.6 6.6-6.6-2.9-6.6-6.6 3-6.6 6.6-6.6z"></path>
              </svg>
            </div>
          {% endif %}
        </div>
        <div class="content-{{ section.id }}">
          <h2 class="main-title-{{ section.id }}">{{ block.settings.text_title }}</h2>
          <a src="{{ block.settings.btn_text_url }}" class="button-style-{{ section.id }}">
            <span>
              {{ block.settings.btn_text_content }}
            </span>
            <svg width="14" height="14" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M187.827 98.7858C188.123 98.4749 188.123 98.4749 188.123 98.1761C188.419 97.8652 188.419 97.5663 188.704 97.5663C189 96.9566 189 96.6458 189 96.0361C189 95.4263 189 94.8166 188.704 94.5058C188.704 94.195 188.408 93.8961 188.123 93.5852C188.123 93.2744 187.827 93.2744 187.827 92.9755L103.287 4.21945C102.41 3.29889 101.533 3 100.668 3C99.791 3 98.6295 3.31083 98.0488 4.21945C97.1719 5.14 96.8872 6.06058 96.8872 6.96919C96.8872 7.88974 97.1833 9.10918 98.0488 9.7189L175.587 92.0539H6.79206C4.75371 92.0539 3 93.895 3 96.0351C3 98.1751 4.75365 100.016 6.79206 100.016H175.575L97.7543 182.042C96.2967 183.572 96.2967 186.322 97.7543 187.852C99.2119 189.383 101.831 189.383 103.288 187.852L187.827 98.7858Z" fill="black"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M188.607 97.5657C188.432 97.5657 188.365 97.6788 188.27 97.8382C188.211 97.9378 188.141 98.0554 188.027 98.1748C188.027 98.4734 188.027 98.4734 187.731 98.7839L103.281 187.759C101.825 189.287 99.2085 189.287 97.7524 187.759C96.2963 186.23 96.2963 183.483 97.7524 181.954L175.492 100.013L6.88489 100.013C4.8486 100.013 3.09677 98.1739 3.09677 96.036C3.09677 93.8982 4.84866 92.059 6.88489 92.059L175.504 92.059L98.0465 9.80878C97.182 9.19968 96.8862 7.9815 96.8862 7.0619C96.8862 6.15422 97.1706 5.2346 98.0465 4.315C98.6267 3.40732 99.787 3.0968 100.663 3.0968C101.527 3.0968 102.403 3.39539 103.279 4.315L187.731 92.9796C187.731 93.1274 187.804 93.2021 187.877 93.2774C187.952 93.3543 188.027 93.4319 188.027 93.5887C188.046 93.6098 188.066 93.6308 188.085 93.6518C188.338 93.9267 188.584 94.1935 188.606 94.4689C188.607 94.482 188.607 94.4951 188.607 94.5083C188.903 94.8188 188.903 95.4279 188.903 96.037C188.903 96.6461 188.903 96.9566 188.607 97.5657ZM191.489 93.2767C191.79 93.8661 191.89 94.4204 191.934 94.7363C192.001 95.2226 192 95.7194 192 95.9856L192 96.037C192 96.0544 192 96.0729 192 96.0926C192 96.3523 192.001 96.8096 191.924 97.2931C191.828 97.8884 191.64 98.41 191.393 98.9184L190.546 100.663H190.212C190.127 100.759 190.038 100.852 189.988 100.905L189.974 100.92L105.527 189.891C102.85 192.701 98.1865 192.704 95.51 189.895C94.1476 188.464 93.5636 186.587 93.5636 184.857C93.5636 183.128 94.1468 181.252 95.5071 179.822M191.489 93.2767C191.316 92.7908 191.078 92.4357 190.938 92.2406C190.903 92.1912 190.866 92.142 190.828 92.0939V91.7408L105.522 2.17912C104.076 0.661813 102.397 0 100.663 0C99.3914 0 97.0569 0.401401 95.6212 2.37737C94.3151 3.83819 93.7895 5.45521 93.7895 7.0619C93.7895 8.26663 94.1183 10.6061 95.9608 12.111L168.333 88.9622L6.88489 88.9622C2.9981 88.9622 0 92.3316 0 96.036C0 99.7405 2.99801 103.11 6.88489 103.11L168.285 103.11" fill="black"></path>
              <path d="M169.5 104L16.5 102.5V90H171L97.5 10.5V7L107.5 4.5C131.167 29.6667 180.2 81.5 187 87.5C193.8 93.5 191.5 99 189.5 101L105.5 184L94 181.5L169.5 104Z" fill="black"></path>
            </svg>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const images = document.querySelectorAll('.multi-block img');

    const options = {
      root: null,
      rootMargin: '0px',
      threshold: 0.3,
    };

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.style.opacity = 1;
          observer.unobserve(entry.target);
        }
      });
    }, options);

    images.forEach((image) => {
      observer.observe(image);
    });
  });
</script>
